[submodule "mamba-mania"]
	path = mamba-mania
	url = https://github.com/PrathamMishra/mamba-mania.git
[submodule "boolbox"]
	path = boolbox
	url = https://github.com/PrathamMishra/BoolBox.git
[submodule "LogoLand"]
	path = LogoLand
	url = https://github.com/PrathamMishra/LogoLand.git
